.header {
    background: #111;
    padding: 20px 40px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.menu a {
    display: block;

    padding: 12px 22px;

    background: #1a1a1a;
    color: white;

    border: 2px solid #e50914;
    border-radius: 30px;

    text-decoration: none;

    font-family: Arial, sans-serif;
    font-weight: bold;

    transition: all 0.3s ease;
}

.menu a:hover {
    background: #e50914;
    color: white;

    transform: translateY(-3px);

    box-shadow: 0 5px 15px rgba(229, 9, 20, 0.4);
}

.menu li:first-child a {
    background: #e50914;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333333;
  text-align: center;
  margin-top: 50px;
}

div.main {
  display: flex;
  flex-direction: column; /* Coloca os itens lado a lado */
  justify-content: center; /* Centraliza na tela */
  align-items: center; /* Alinha as alturas */
  gap: 20px; /* Cria um espaço entre o texto e a imagem */
}

div.descricao {
  max-width: 600px;
  text-align: left;
  background-color: #e5f6ff;
  padding: 10px;
}
div.bloco-imagem {
  display: flex;
  flex-direction: column; /* Coloca a frase embaixo da imagem */
  align-items: center; /* Centraliza a frase em relação à imagem */
  padding: 0px
}
img.imagem {
  width: 100%;
  height: auto;
}
h3.descimg {
  font-size: 1.17em;
  margin-block-start: 2px;
  margin-block-end: 2px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p {
  font-size: 18px;
}